@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.scene-container {
  width: 100%;
  height: 400px;
}

@media (min-width: 1024px) {
  .scene-container {
    height: 600px;
  }
}
